<!doctype html>
<html lang="en">
<html translate="no">
<meta name="google" content="notranslate">
<meta http-equiv="content-language" content="en" />
	
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="color-scheme" content="light dark" />
	{{strike.generator}}
	
	<!-- pico CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
	
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{assets}}/css/style.css"/>
	
	<!-- Rainbow.js CSS -->
	<link rel="stylesheet" href="{{assets}}/css/rainbow-default.css"/>
	<link rel="stylesheet" href="{{assets}}/css/rainbow-neo.css"/>
	
	<title>{{site.title}}</title>
  </head>
  
  <body>
	<main class="container">