{{partial header}}

<div class="row">
  <div class="col-12">
    <article class="single">
      <div class="post-meta">
        <h2 class="post-title">{{title}}</h2>
        <p class="post-date">{{date.longMonth}} {{date.day}}, {{date.year}}</p>
      </div>
      <div class="post-content">
        {{content}}
      </div><!--/.post-content-->
    </article><!--/.single-->
  </div><!--/.col-12-->
</div><!--/.row-->
</main>
</div><!--/.container-->
</div><!--/#wrap data-sticky-wrap-->

{{partial footer}}
